*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.root{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}