.oferta{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo_buy{
    height: 500px;
    width: 90%;
    position: relative;
    overflow-x: hidden;
}

.promotion_itens{
    overflow-y: auto;
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;

}

.promotion_itens li{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px 0px;
}

.promotion_itens li button{
    width: 140px;
    height: 30px;
    background-color: var(--orange);
    border-radius: 3px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.promotion_itens li h3{
    color: red;
    text-shadow: 1px 1px 2px black;
}
.promotion_itens li p{
    color: rgba(255, 0, 0, 0.74);
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

.promotion_itens li small{
    color: rgb(255, 153, 0);
    font-weight: 700;
}
.promotions{
    margin-right: 5px;
}
.first_div_icon_offer{
    width: 160px !important;
}
.oferta .count{
    background-color: rgb(197, 60, 6) !important;
    color: white;
    border: none !important;
}



.corpo_buy ol li{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    margin: 5px 0px; 
}

.corpo_buy ol li .img_product{
    height: 130px;
    width: 140px;
}
.corpo_buy ol li .img_product img{
    width: 100%;
    height: 100%;
}
.corpo_buy ol li span{
    color: red;
}
.corpo_buy ol li >*{
    font-weight: 700;
}

.corpo_buy ol li small img{
    width: 10px;
    height: 10px;
}
