@import url("../../root.css");
.footer{
    min-height: 300px;
    background-color: var(--header);
    width: 100%;
    position: relative;
}
.footer_div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.footer span{
    z-index: 1;

    background-image: url("../../public/img/webs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.footer span:nth-child(1){
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -40px;
    left: -40px;

    
}
.footer span:nth-child(2){
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -40px;
    right: -40px;

}
.footer span:nth-child(3){
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    bottom: -40px;
    left: -40px;

}
.footer span:nth-child(4){
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    bottom: -40px;
    right: -40px;

    
}

.mov_imoveis{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.mov1{
    display: flex;
    width: 100%;
    height: 100%;

    position: absolute;
    left: -110%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 3s;
}
.mov1 > div{
    height: 90%;
    width: 100px;
}
.mov1 > div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.mov2{
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 3s;    
    position: absolute;
    right: -110%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mov2 > div{
    height: 90%;
    width: 100px;
}
.mov2 > div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.mov{
    left: 0% !important;
}
.mv2{
    right: 0% !important;
}




.information_place{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.information_place article{
    height: 100%;
    min-height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 2;
    margin: 5px 0px;
}
article h3{
    color: white;
    margin: 10px 0px;
}
article p,article h4{
    text-align: center;
    color: white;
    margin: 0px 0px 5px 0px;
}
article address{
    text-align: center;
    color: white;
    margin-top: 5px;
}

.sms_footer{
    height: 200px;
    width: 200px;
    z-index: 2;
}

.sms_footer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}











