@import url("../root.css");
.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up *{
    font-size: 1.2rem;
}
.up{
    width: 100%;
    min-height: 30px;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up > div{

    flex-grow: 1;
    height: 90%;
    display: flex;
    align-items: center;
}

.up > div p{
    margin-left: 10px;
    color: white;
}
.up > div p span{
    font-weight: bold;
    font-size: 15px;
}
.up > div:not(:first-child){
    justify-content: flex-end;

}
.up > div:not(:first-child) select{
    background: transparent;
    color: white;
    border: none;
}

.up > div:not(:first-child) select option{
    background-color: black;
}



/* ++++++++++++++++++++++++++++++++++ */

select:active{
    color: black ;
}
