.compra{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    transition: all 1s;
}
.up_cpmpra{
    height: 40px ;
}
.header_compra{
    min-height: 150px;
}
.promotions_compra ol{
    width: 100%;
}
.promotions_compra ol li{
    flex-grow: 1 !important;
}
.compra .produtos{
    height: 100%;
    max-height: 100vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow-x: hidden;

}
.carrinho_tela{
    height: 500px;
    width: 400px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(8, 8, 59);

}
.top_car{
    background-color: rgb(8, 8, 59);
    min-height: 80px;
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.icon_car{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    color: white;
}
.icon_car > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.top_car img{
    width: 20px;
    height: 20px;
}

.list_cars{
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.list_cars li{
    height: 250px !important;
}
.bt_car{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bt_car button{
    width: 50px !important;
    font-size: 12px;
}
.produtos ol{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 600px;
    justify-content: space-around;
    padding: 10px 0px;
    overflow-y: auto;
}
.produtos ol li{
    min-height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    margin: 5px 0px; 
}

.produtos ol li .img_product{
    height: 130px;
    width: 140px;
}
.produtos ol li .img_product img{
    width: 100%;
    height: 100%;
}
.produtos ol li span{
    color: red;
}
.produtos ol li >*{
    font-weight: 700;
}

.produtos ol li small img{
    width: 10px;
    height: 10px;
}

.sacola_car:hover{
    height: 28px;
    width: 28px;
}

.show{
    right: -101% !important;
    display: none;
}
.serch_car{
    width: 100%;
    display: flex;
}
.serch_car input{
    width: 80% !important;
    height: 30px;
}
.vazio{
    background-image: url("/public/img/car.png");
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

/* ======================================================================= */

@media screen  and (max-width:650px){
    .header_compra {
        min-height: 310px;

    }
    .up_cpmpra{
        min-height: 50px !important;
    }
    .first_div{
        flex-direction: column !important;
        align-items: start !important;
    }
    .first_div ol{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header .first_div {
    }
}


.op_car{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--orange);
}

.op_car button{
    width: 140px;
    height: 30px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--orange);
    border: .5px solid white;
    margin: 5px 0px;
}

.form_finalizar{
    position: fixed;
    border: 1px solid var(--header);
    height: 400px;
    width: 500px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.form_finalizar > h3{
    margin: 0px 0px 10px 0px;
}
.form_finalizar input{
    width: 200px;
    height: 30px;
    border: .5px solid black;
    background-color: transparent;
}

.form_finalizar span > div{
    display: flex;
    flex-direction: column;
}
.form_finalizar label{
    font-weight: bold;
}

.form_finalizar span{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
}
.form_finalizar input,.form_finalizar select,.form_finalizar textarea{
    border: 1px solid var(--orange);
}
.form_finalizar textarea{
    max-width: 200px;
    max-height: 100px;
}

.form_opt button{
    min-width: 140px;
    height: 30px;
    background-color: var(--orange);
    border-radius: 3px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
}
.form_icon{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 40px;
    background-color: var(--header);
    padding-left: 10px;
}
.form_icon img{
    height: 20px;
    width: 20px;
}
.form_icon > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}



